.leftColumnSection {
  display: none;
  width: 0;
  min-width: 0;
  @include mq(768px) {
    display: block;
    width: 10%;
    min-width: 110px;
    height: 100%;
    color: $LeftColFontColor;
  }
}

.leftColumnWrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}
