@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bolder;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.label {
  border-bottom: 1px solid #ddd;
}

.label:last-child {
  border-bottom: 0;
}

.mainWrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer {
  width: 95%;
  height: 90%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 80%;
    height: 80%;
  }
}

.daySection {
  width: 100%;
  height: 5%;
}

.hourSection {
  width: 100%;
  height: 9%;
}

.forecastSection {
  width: 100%;
  height: 9%;
}

.tempSection {
  width: 100%;
  height: 25%;
}

.rainSection {
  width: 100%;
  height: 10%;
}

.windSection {
  width: 100%;
  height: 10%;
}

.speedSection {
  width: 100%;
  height: 12%;
}

.pressureSection {
  width: 100%;
  height: 20%;
}

.today {
  height: 5%;
  width: 100%;
}

.leftColumnSection {
  display: none;
  width: 0;
  min-width: 0;
}

@media only screen and (min-width: 768px) {
  .leftColumnSection {
    display: block;
    width: 10%;
    min-width: 110px;
    height: 100%;
    color: #999898;
  }
}

.leftColumnWrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.rightColumnSection {
  width: 90%;
  height: 100%;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  overflow: hidden;
  font-size: 0.9rem;
}

@media only screen and (min-width: 768px) {
  .rightColumnSection::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) {
  .rightColumnSection::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.leftArrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.leftArrow:hover {
  color: #2d92e5;
}

.rightArrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.rightArrow:hover {
  color: #2d92e5;
}

.rightColumnWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.rightColumnWrapper .windSection,
.rightColumnWrapper .speedSection {
  background-color: #ececec;
  border-color: white;
  z-index: 0;
}

.rightColumnWrapper .hourSection {
  font-size: 1.4rem;
}

.rightColumnWrapper .tempSection {
  font-size: 1.6rem;
}

.rightColumnWrapper::-webkit-scrollbar {
  display: none;
}

.shadowLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}

.shadowRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
}

.offLeft {
  -webkit-box-shadow: inset 4px 0px 8px #d4d4d4;
          box-shadow: inset 4px 0px 8px #d4d4d4;
}

.offRight {
  -webkit-box-shadow: inset -4px 0px 8px #d4d4d4;
          box-shadow: inset -4px 0px 8px #d4d4d4;
}

.fa-chevron-right,
.fa-chevron-left {
  width: 40px;
  height: 40px;
}

.card {
  position: relative;
  min-width: 120px;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
}

.rainWrapper {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 1rem;
}

.rainWrapper .rainChart {
  width: 100%;
  background-color: #2d92e5;
}

.rainWrapper .rainLabel {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
}

.lineWrapper {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lineWrapper .lineChart {
  width: 100%;
  background-color: #ffffff;
}

.lineWrapper .lineLabel {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
}

.lineWrapper .lineLabel .dot {
  width: 10px;
  height: 10px;
  background-color: #ffe600;
  border-radius: 50%;
}

.pressureWrapper {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pressureWrapper .pressureChart {
  width: 100%;
  background-color: #ffffff;
}

.pressureWrapper .pressureLabel {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-align: center;
}

.pressureWrapper .pressureLabel .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
}

.footer {
  width: 100%;
  height: 50px;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */